.page-footer {
    margin-top: 60px;

    .copyright-box {
        height: 30px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.7);
    }

    small {
        font-size: 0.7rem
    }

    p {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.7);
        text-transform: uppercase;
    }

}
