.page-footer {
    margin-top: 60px;

    .copyright-box {
        height: 50px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.7);
    }

    .footer-box {
        display: flex;
        align-items: center;
        height: 30px;
    }
    small {
        font-size: 1.9vmax;
        @include tablet {
            font-size: 0.85rem
        }

    }

    p {
        text-align: right;
        font-size: 2.8vmax;
        color: rgba(0, 0, 0, 0.7);
        text-transform: uppercase;

        @include tablet {
            font-size: 1.2rem;
        }
    }

    .social-icon-box {
        text-align: right;
        img {
            max-width: 20%;
        }
    }

}
