@mixin tablet {
    @media #{$tablet-width} {
        @content;
    }
}

@mixin laptop {
    @media #{$laptop-width} {
        @content;
    }
}

@mixin arrow ($direction, $color) {
    &:after {
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-#{$direction}-color: $color;
        position: absolute;
        left: -20%;
        top: 15%;
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
      @content;
}
    &::-moz-placeholder {
      @content;
}
    &:-ms-input-placeholder {
      @content;
}
    &:-moz-placeholder { 
      @content;
}
}
